ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    border: 1px dashed green;
}
li{
    width: 100px;
    border: 1px solid red;
    height: 30px;
    line-height: 30px;
    position: relative;
}
li a {
    display: block;
    width: 100%;
    height: 100%;
}
.cesta {
    overflow: hidden;
    width: 100px;
    transform-origin: center top;
    height: 0;
    position: absolute;
    width: 100px;
    border: 1px solid red;
    transition: all 300ms ease;
    left: -75px;
}

#carrito:hover .cesta{
    height: 100px;
    width: 300px;
}